USE [master]
GO
/****** Object:  Database [SIMS]    Script Date: 8/17/2015 8:15:20 PM ******/
CREATE DATABASE [SIMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIMS', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL\MSSQL\DATA\SIMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SIMS_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL\MSSQL\DATA\SIMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIMS]
GO
/****** Object:  StoredProcedure [dbo].[SpGetAddedAdminInformation]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[SpGetAddedAdminInformation] 
as
begin
   select name,phone,email,adminId
   from tblAdmin
    where id = IDENT_CURRENT('tblAdmin')
end


GO
/****** Object:  StoredProcedure [dbo].[SpGetAddedStudentInformation]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SpGetAddedStudentInformation] 
as
begin
   select tblStudent.studentId,tblStudent.name,tblStudent.phone,tblStudent.email,tblNationality.nationality
   from tblStudent join tblNationality on tblStudent.nationalityId = tblNationality.id
    where tblStudent.id = IDENT_CURRENT('tblStudent')
end

GO
/****** Object:  StoredProcedure [dbo].[spGetAllDepartment]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spGetAllDepartment]
as
begin
     select * from tblDepartment
end



GO
/****** Object:  StoredProcedure [dbo].[spGetAllGender]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spGetAllGender]
as
begin
     select * from tblGender
end



GO
/****** Object:  StoredProcedure [dbo].[spGetAllSession]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spGetAllSession]
as
begin
    select * from tblSession
end



GO
/****** Object:  StoredProcedure [dbo].[spGetAllYearTerm]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spGetAllYearTerm]
as
begin
     select * from tblYearTerm
end



GO
/****** Object:  StoredProcedure [dbo].[spGetStudentByDeptId]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[spGetStudentByDeptId]
@deptId int
as
begin
   select tblStudent.studentId, tblStudent.name, tblStudent.phone,tblStudent.email, tblGender.name,
   tblNationality.nationality,tblDepartment.name,tblSession.name,tblYearTerm.yearTermName
    from tblStudent join tblGender on tblGender.id = tblStudent.genderId
	                join tblNationality on tblNationality.id = tblStudent.nationalityId
					join tblDepartment on tblDepartment.id = tblStudent.deptId
					join tblSession on tblSession.id = tblStudent.sessionId
					join tblYearTerm on tblYearTerm.id = tblStudent.yearTermId
   
   where deptId=@deptId
end




GO
/****** Object:  StoredProcedure [dbo].[spGetStudentByIdAndDeptId]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[spGetStudentByIdAndDeptId]
@studentId varchar(50),
@deptId int
as
begin
   select tblStudent.studentId, tblStudent.name, tblStudent.phone,tblStudent.email, tblGender.name,
   tblNationality.nationality,tblDepartment.name,tblSession.name,tblYearTerm.yearTermName
    from tblStudent join tblGender on tblGender.id = tblStudent.genderId
	                join tblNationality on tblNationality.id = tblStudent.nationalityId
					join tblDepartment on tblDepartment.id = tblStudent.deptId
					join tblSession on tblSession.id = tblStudent.sessionId
					join tblYearTerm on tblYearTerm.id = tblStudent.yearTermId
   
   where studentId=@studentId and deptId=@deptId
end



GO
/****** Object:  StoredProcedure [dbo].[spGetTheStudentById]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spGetTheStudentById]
@studentId varchar(50)
as
begin
   select tblStudent.studentId, tblStudent.name, tblGender.name,
   tblNationality.nationality,tblDepartment.name,tblSession.name,tblStudent.email,
   tblStudent.phone, tblStudent.presentAddress,tblStudent.parmenantAddress
    from tblStudent join tblGender on tblGender.id = tblStudent.genderId
	                join tblNationality on tblNationality.id = tblStudent.nationalityId
					join tblDepartment on tblDepartment.id = tblStudent.deptId
					join tblSession on tblSession.id = tblStudent.sessionId					   
   where tblStudent.studentId=@studentId
end
GO
/****** Object:  StoredProcedure [dbo].[spSaveNewStudentInformation]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spSaveNewStudentInformation] 
@studentId varchar(100),
@studentName varchar(200),
@phone varchar(100),
@email varchar(200),
@presentAddress varchar(max),
@permanentAddress varchar(max),
@genderId int,
@nationality int,
@departmentId int,
@sessionId int,
@yearTermId int,
@salt varchar(max),
@password varchar(max),
@type int
as
begin
   insert into tblStudent values(@studentId,@studentName,@phone,@email,
	@presentAddress,@permanentAddress,@genderId,@nationality,@departmentId,
	@yearTermId,@sessionId,@salt,@password,@type)
end
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[adminId] [varchar](50) NOT NULL,
	[salt] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK_tblAdmin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCourse]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCourse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[courseCode] [varchar](50) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[credit] [decimal](3, 2) NOT NULL,
	[deptId] [int] NOT NULL,
	[yearTermId] [int] NOT NULL,
 CONSTRAINT [PK_tblCourse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDepartment]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[facultyId] [int] NOT NULL,
 CONSTRAINT [PK_tblDepartment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblFaculty]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFaculty](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[facultyName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblFaculty] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblGender]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblGender](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblGender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblGpa]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblGpa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[range] [varchar](100) NOT NULL,
	[gpa] [decimal](3, 2) NOT NULL,
	[gpaType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblGpa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblNationality]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblNationality](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nationality] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblNationality] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRegistrationPermission]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegistrationPermission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[deptId] [int] NOT NULL,
	[sessionId] [int] NOT NULL,
	[yearTermId] [int] NOT NULL,
 CONSTRAINT [PK_tblRegistrationPermission] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblResult]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblResult](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [varchar](100) NOT NULL,
	[deptId] [int] NOT NULL,
	[sessionId] [int] NOT NULL,
	[yearTermId] [int] NOT NULL,
	[courseId] [int] NOT NULL,
	[gpaId] [int] NOT NULL,
 CONSTRAINT [PK_tblResult] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSession]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSession](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblSession] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblStudent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[presentAddress] [varchar](100) NOT NULL,
	[parmenantAddress] [varchar](100) NOT NULL,
	[genderId] [int] NOT NULL,
	[nationalityId] [int] NOT NULL,
	[deptId] [int] NOT NULL,
	[sessionId] [int] NOT NULL,
	[yearTermId] [int] NOT NULL,
	[salt] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK_tblStudent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblStudentSemisterRegistration]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblStudentSemisterRegistration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [varchar](100) NOT NULL,
	[deptId] [int] NOT NULL,
	[sessionId] [int] NOT NULL,
	[yearTermId] [int] NOT NULL,
 CONSTRAINT [PK_tblStudentSemisterRegistration] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTeacher]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTeacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[designation] [varchar](100) NOT NULL,
	[mobile] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[genderId] [int] NOT NULL,
	[nationalityId] [int] NOT NULL,
	[deptId] [int] NOT NULL,
	[JoiningDate] [date] NOT NULL,
	[code] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tblTeacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTest]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTest](
	[id] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblYearTerm]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblYearTerm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yearTermName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblYearTerm] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[tblLogin]    Script Date: 8/17/2015 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[tblLogin] as
select salt, password, studentId as id , email, type, name from tblStudent
union all
select salt, password, adminId as id, email, type , name from tblAdmin 

GO
SET IDENTITY_INSERT [dbo].[tblAdmin] ON 

INSERT [dbo].[tblAdmin] ([id], [name], [phone], [email], [adminId], [salt], [password], [type]) VALUES (1, N'Mahmud', N'01621500993', N'm@gmail.com', N'm9425', N'm9425Xc', N'yZHARLM5Qi6Ex9BSxqydKonGQu8TfpOzSJNmAqbbzy8=', 1)
INSERT [dbo].[tblAdmin] ([id], [name], [phone], [email], [adminId], [salt], [password], [type]) VALUES (2, N'Mahmud', N'01621500993', N'm@gmail.com', N'm7745', N'm7745Ru', N'dnDCvtki3x7n6LW6XdLP3FEwzNyVR3H9XhaitDZ/T3M=', 1)
INSERT [dbo].[tblAdmin] ([id], [name], [phone], [email], [adminId], [salt], [password], [type]) VALUES (3, N'Mahmud', N'01621500993', N'm@gmail.com', N'm6137', N'm6137Kf', N'Y7HyipU4BtVoO0tWSWUdleHk3yrsLNAOepoYaTyzgf0=', 1)
SET IDENTITY_INSERT [dbo].[tblAdmin] OFF
SET IDENTITY_INSERT [dbo].[tblCourse] ON 

INSERT [dbo].[tblCourse] ([id], [courseCode], [title], [credit], [deptId], [yearTermId]) VALUES (1, N'CSTE 1101', N'Computer Fundamental', CAST(3.00 AS Decimal(3, 2)), 1020, 1)
INSERT [dbo].[tblCourse] ([id], [courseCode], [title], [credit], [deptId], [yearTermId]) VALUES (2, N'BENG 1101', N'Electrical and Mechanical Engineering', CAST(2.00 AS Decimal(3, 2)), 1020, 1)
INSERT [dbo].[tblCourse] ([id], [courseCode], [title], [credit], [deptId], [yearTermId]) VALUES (3, N'PHYS 1121', N'Physics', CAST(2.00 AS Decimal(3, 2)), 1020, 1)
SET IDENTITY_INSERT [dbo].[tblCourse] OFF
SET IDENTITY_INSERT [dbo].[tblDepartment] ON 

INSERT [dbo].[tblDepartment] ([id], [name], [facultyId]) VALUES (1020, N'CSTE', 20)
INSERT [dbo].[tblDepartment] ([id], [name], [facultyId]) VALUES (1021, N'ACCE', 20)
INSERT [dbo].[tblDepartment] ([id], [name], [facultyId]) VALUES (1022, N'EEE', 20)
SET IDENTITY_INSERT [dbo].[tblDepartment] OFF
SET IDENTITY_INSERT [dbo].[tblFaculty] ON 

INSERT [dbo].[tblFaculty] ([id], [facultyName]) VALUES (22, N'Arts')
INSERT [dbo].[tblFaculty] ([id], [facultyName]) VALUES (21, N'Commerce')
INSERT [dbo].[tblFaculty] ([id], [facultyName]) VALUES (20, N'Engineering')
SET IDENTITY_INSERT [dbo].[tblFaculty] OFF
SET IDENTITY_INSERT [dbo].[tblGender] ON 

INSERT [dbo].[tblGender] ([id], [name]) VALUES (1, N'Male')
INSERT [dbo].[tblGender] ([id], [name]) VALUES (2, N'Female')
INSERT [dbo].[tblGender] ([id], [name]) VALUES (3, N'Unknown')
SET IDENTITY_INSERT [dbo].[tblGender] OFF
SET IDENTITY_INSERT [dbo].[tblGpa] ON 

INSERT [dbo].[tblGpa] ([id], [range], [gpa], [gpaType]) VALUES (1, N'Above 80%', CAST(4.00 AS Decimal(3, 2)), N'A+')
INSERT [dbo].[tblGpa] ([id], [range], [gpa], [gpaType]) VALUES (2, N'75% - 79%', CAST(3.75 AS Decimal(3, 2)), N'A')
INSERT [dbo].[tblGpa] ([id], [range], [gpa], [gpaType]) VALUES (3, N'70% - 74%', CAST(3.50 AS Decimal(3, 2)), N'A-')
SET IDENTITY_INSERT [dbo].[tblGpa] OFF
SET IDENTITY_INSERT [dbo].[tblNationality] ON 

INSERT [dbo].[tblNationality] ([id], [nationality]) VALUES (1, N'Bangladeshi')
INSERT [dbo].[tblNationality] ([id], [nationality]) VALUES (2, N'Indian')
INSERT [dbo].[tblNationality] ([id], [nationality]) VALUES (3, N'Japanese')
SET IDENTITY_INSERT [dbo].[tblNationality] OFF
SET IDENTITY_INSERT [dbo].[tblRegistrationPermission] ON 

INSERT [dbo].[tblRegistrationPermission] ([id], [deptId], [sessionId], [yearTermId]) VALUES (1, 1021, 1, 1)
INSERT [dbo].[tblRegistrationPermission] ([id], [deptId], [sessionId], [yearTermId]) VALUES (2, 1020, 1, 1)
INSERT [dbo].[tblRegistrationPermission] ([id], [deptId], [sessionId], [yearTermId]) VALUES (3, 1022, 1, 1)
SET IDENTITY_INSERT [dbo].[tblRegistrationPermission] OFF
SET IDENTITY_INSERT [dbo].[tblSession] ON 

INSERT [dbo].[tblSession] ([id], [name]) VALUES (1, N'2009-2010')
INSERT [dbo].[tblSession] ([id], [name]) VALUES (2, N'2010-2011')
INSERT [dbo].[tblSession] ([id], [name]) VALUES (3, N'2011-2012')
SET IDENTITY_INSERT [dbo].[tblSession] OFF
SET IDENTITY_INSERT [dbo].[tblStudent] ON 

INSERT [dbo].[tblStudent] ([id], [studentId], [name], [phone], [email], [presentAddress], [parmenantAddress], [genderId], [nationalityId], [deptId], [sessionId], [yearTermId], [salt], [password], [type]) VALUES (1, N'ash1001032M', N'Mashpy', N'34873468', N'mash@gmail.com', N'uycs', N'sjh', 1, 1, 1020, 1, 1, N'ash1001032M70', N'I+LrhoKJuruhyUEu1/HU0NmfZmEQQ6v32D9wXHVPLFQ=', 2)
INSERT [dbo].[tblStudent] ([id], [studentId], [name], [phone], [email], [presentAddress], [parmenantAddress], [genderId], [nationalityId], [deptId], [sessionId], [yearTermId], [salt], [password], [type]) VALUES (2, N'ash1001033M', N'Mashpy Mash', N'348734684', N'm4@gmail.com', N'ah', N'ldfvs', 1, 1, 1020, 1, 1, N'ash1001033M62', N'LX80sqtl6ZW2vkdDhVd6VtoYainCm2FTmal7aN+BCAI=', 2)
INSERT [dbo].[tblStudent] ([id], [studentId], [name], [phone], [email], [presentAddress], [parmenantAddress], [genderId], [nationalityId], [deptId], [sessionId], [yearTermId], [salt], [password], [type]) VALUES (3, N'ash1001034M', N'Mashpy Mash', N'34873468', N'mash3@gmail.com', N'efu', N'jd', 1, 1, 1020, 1, 1, N'ash1001034M17', N'IAH3amB2y6FlNjJsfZqkeSs2bCuPKv3CAKky7Qqh3kQ=', 2)
SET IDENTITY_INSERT [dbo].[tblStudent] OFF
SET IDENTITY_INSERT [dbo].[tblStudentSemisterRegistration] ON 

INSERT [dbo].[tblStudentSemisterRegistration] ([id], [studentId], [deptId], [sessionId], [yearTermId]) VALUES (1, N'ash1001046F', 1020, 1, 1)
SET IDENTITY_INSERT [dbo].[tblStudentSemisterRegistration] OFF
SET IDENTITY_INSERT [dbo].[tblYearTerm] ON 

INSERT [dbo].[tblYearTerm] ([id], [yearTermName]) VALUES (1, N'1st Year; 1st Term')
INSERT [dbo].[tblYearTerm] ([id], [yearTermName]) VALUES (2, N'1st Year; 2nd Term')
INSERT [dbo].[tblYearTerm] ([id], [yearTermName]) VALUES (3, N'2nd Year; 1st Term')
SET IDENTITY_INSERT [dbo].[tblYearTerm] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tblFaculty]    Script Date: 8/17/2015 8:15:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblFaculty] ON [dbo].[tblFaculty]
(
	[facultyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCourse]  WITH CHECK ADD  CONSTRAINT [FK_tblCourse_PK_tblCourse] FOREIGN KEY([deptId])
REFERENCES [dbo].[tblDepartment] ([id])
GO
ALTER TABLE [dbo].[tblCourse] CHECK CONSTRAINT [FK_tblCourse_PK_tblCourse]
GO
ALTER TABLE [dbo].[tblCourse]  WITH CHECK ADD  CONSTRAINT [FK_tblCourse_PK_tblYearTerm] FOREIGN KEY([yearTermId])
REFERENCES [dbo].[tblYearTerm] ([id])
GO
ALTER TABLE [dbo].[tblCourse] CHECK CONSTRAINT [FK_tblCourse_PK_tblYearTerm]
GO
ALTER TABLE [dbo].[tblRegistrationPermission]  WITH CHECK ADD  CONSTRAINT [FK_tblRegistrationPermission_PK_tblDepartment] FOREIGN KEY([deptId])
REFERENCES [dbo].[tblDepartment] ([id])
GO
ALTER TABLE [dbo].[tblRegistrationPermission] CHECK CONSTRAINT [FK_tblRegistrationPermission_PK_tblDepartment]
GO
ALTER TABLE [dbo].[tblRegistrationPermission]  WITH CHECK ADD  CONSTRAINT [FK_tblRegistrationPermission_PK_tblSession] FOREIGN KEY([sessionId])
REFERENCES [dbo].[tblSession] ([id])
GO
ALTER TABLE [dbo].[tblRegistrationPermission] CHECK CONSTRAINT [FK_tblRegistrationPermission_PK_tblSession]
GO
ALTER TABLE [dbo].[tblRegistrationPermission]  WITH CHECK ADD  CONSTRAINT [FK_tblRegistrationPermission_tblYearTerm] FOREIGN KEY([yearTermId])
REFERENCES [dbo].[tblYearTerm] ([id])
GO
ALTER TABLE [dbo].[tblRegistrationPermission] CHECK CONSTRAINT [FK_tblRegistrationPermission_tblYearTerm]
GO
ALTER TABLE [dbo].[tblResult]  WITH CHECK ADD  CONSTRAINT [FK_tblResult_PK_tblCourse] FOREIGN KEY([courseId])
REFERENCES [dbo].[tblCourse] ([id])
GO
ALTER TABLE [dbo].[tblResult] CHECK CONSTRAINT [FK_tblResult_PK_tblCourse]
GO
ALTER TABLE [dbo].[tblResult]  WITH CHECK ADD  CONSTRAINT [FK_tblResult_PK_tblDepartment] FOREIGN KEY([deptId])
REFERENCES [dbo].[tblDepartment] ([id])
GO
ALTER TABLE [dbo].[tblResult] CHECK CONSTRAINT [FK_tblResult_PK_tblDepartment]
GO
ALTER TABLE [dbo].[tblResult]  WITH CHECK ADD  CONSTRAINT [FK_tblResult_PK_tblGpa] FOREIGN KEY([gpaId])
REFERENCES [dbo].[tblGpa] ([id])
GO
ALTER TABLE [dbo].[tblResult] CHECK CONSTRAINT [FK_tblResult_PK_tblGpa]
GO
ALTER TABLE [dbo].[tblResult]  WITH CHECK ADD  CONSTRAINT [FK_tblResult_PK_tblSession] FOREIGN KEY([sessionId])
REFERENCES [dbo].[tblSession] ([id])
GO
ALTER TABLE [dbo].[tblResult] CHECK CONSTRAINT [FK_tblResult_PK_tblSession]
GO
ALTER TABLE [dbo].[tblResult]  WITH CHECK ADD  CONSTRAINT [FK_tblResult_PK_tblYearTerm] FOREIGN KEY([yearTermId])
REFERENCES [dbo].[tblYearTerm] ([id])
GO
ALTER TABLE [dbo].[tblResult] CHECK CONSTRAINT [FK_tblResult_PK_tblYearTerm]
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_PK_tblDepartment] FOREIGN KEY([deptId])
REFERENCES [dbo].[tblDepartment] ([id])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_PK_tblDepartment]
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_PK_tblGender] FOREIGN KEY([genderId])
REFERENCES [dbo].[tblGender] ([id])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_PK_tblGender]
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_PK_tblNationality] FOREIGN KEY([nationalityId])
REFERENCES [dbo].[tblNationality] ([id])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_PK_tblNationality]
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_PK_tblStudent] FOREIGN KEY([sessionId])
REFERENCES [dbo].[tblSession] ([id])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_PK_tblStudent]
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_PK_tblYearTerm] FOREIGN KEY([yearTermId])
REFERENCES [dbo].[tblYearTerm] ([id])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_PK_tblYearTerm]
GO
ALTER TABLE [dbo].[tblTeacher]  WITH CHECK ADD  CONSTRAINT [FK_tblTeacher_PK_tblDepartment] FOREIGN KEY([deptId])
REFERENCES [dbo].[tblDepartment] ([id])
GO
ALTER TABLE [dbo].[tblTeacher] CHECK CONSTRAINT [FK_tblTeacher_PK_tblDepartment]
GO
ALTER TABLE [dbo].[tblTeacher]  WITH CHECK ADD  CONSTRAINT [FK_tblTeacher_PK_tblGender] FOREIGN KEY([genderId])
REFERENCES [dbo].[tblGender] ([id])
GO
ALTER TABLE [dbo].[tblTeacher] CHECK CONSTRAINT [FK_tblTeacher_PK_tblGender]
GO
ALTER TABLE [dbo].[tblTeacher]  WITH CHECK ADD  CONSTRAINT [FK_tblTeacher_PK_tblNationality] FOREIGN KEY([nationalityId])
REFERENCES [dbo].[tblNationality] ([id])
GO
ALTER TABLE [dbo].[tblTeacher] CHECK CONSTRAINT [FK_tblTeacher_PK_tblNationality]
GO
USE [master]
GO
